* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--beige-color: #d49559;
	--black-color: #000000;
}
body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to right top,
		rgb(125, 68, 239),
		rgb(24, 244, 104)
	);
}

.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	height: 65vh;
	width: 40%;
	background-color: var(--beige-color);
	z-index: 10;
	border-radius: 5px;
	text-align: center;
}
.main-menu button {
	position: relative;
	display: block;
	padding: 30px 60px;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	background-color: rgb(7, 255, 7);
	font-size: 1.8rem;
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-menu h1,
.main-menu p {
	position: relative;
	color: var(--black-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-menu p {
	bottom: 10%;
	font-size: 1.2rem;
	left: auto;
	right: auto;
	font-weight: 500;
	line-height: 2.5;
}
.main-menu h1 {
	bottom: 15%;
	left: auto;
	right: auto;
	font-size: 3.1rem;
}

#container {
	height: 85vh;
	width: 65%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: 20px;
	gap: 3.5%;
	grid-template-areas:
		". . . ."
		". . . ."
		". . . ."
		". . . .";
}

#clock {
	position: absolute;
	top: 0%;
	right: 45%;
	font-size: 3.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-image-card {
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	perspective: 60rem; /* Adding perspective for 3D effect */
}

.grid-image-card img {
	width: 100%;
	height: 100%;
	display: block;
	backface-visibility: hidden;
	position: absolute;
}

.grid-image-card img.front {
	z-index: 2;
	transform: rotateY(0deg);
	transition: transform 0.5s ease;
}

.grid-image-card img.back {
	z-index: 1;
	transform: rotateY(180deg);
	transition: transform 0.5s ease;
}

.card-is-flipped img.front {
	transform: rotateY(-180deg); /* Flipping front image on hover */
}

.card-is-flipped img.back {
	transform: rotateY(0); /* Flipping front image on hover */
}
